$hover-panel-z-index: 99999;


/***************************
         Top Info
 **************************/
$top-info-padding: 1em 0;
$language-dropdown-title-padding: 1em 0;
$language-dropdown-item-padding: .5em 0;

$search-block-padding: 1.5em 0;


//main-nav
$nav-bar-height: 3em;
$nav-bar-padding: .8em 1.56em;
$category-title-padding: .8em 0;
$social-list-padding: .8em 1em;