doctype
html.no-js
    head
        include includes/head.jade
        title Ecommerce
    body
        include includes/mixins.jade
        .row.main-container
            include includes/header
            include includes/navigation
            include includes/slider

            include includes/footer.jade