
div.top-info.row.collapse
    div.medium-3.column.left-section
        ul
            li
                .dropdown-center
                    span EN
                    i(class='fa fa-angle-down')
                    .dropdown-menu
                        span Select Language
                        div
                            ul.ui-list
                                li.ui-list-item
                                    a English
                                li.ui-list-item
                                    a Español
                                li.ui-list-item
                                    a 中文
                                li.ui-list-item
                                    a Français
                                li.ui-list-item
                                    a 日本語
                                li.ui-list-item
                                    a 한국어
                                li.ui-list-item
                                    a Português

            li.border-lr
                .dropdown-center
                    span USD
                    i(class='fa fa-angle-down')
                    .dropdown-menu
                        span Select Currency
                        div
                            ul.ui-list
                                li.ui-list-item
                                    a USD
                                li.ui-list-item
                                    a EURO
                                li.ui-list-item
                                    a GBP
                                li.ui-list-item
                                    a CNY
                                li.ui-list-item
                                    a JPY
            li
                a(href="#")
                span.sale-off SALE OFF
    div.medium-6.medium-offset-3.column.right-section
        ul
            li
                i(class='fa fa-phone')
                | 617-838-5359
            li.border-lr
                i(class='fa fa-map-marker')
                | 10 Summer Street, Malden
            li
                i(class='fa fa-user')
                | My Account


div.row.search-block.collapse
    div.medium-3.column
        a(href="")
            img(src="images/logo.png")
    div.medium-6.column
        form.search-bar
            div.search-dropdown
                span All Categories
                ul
                    li.selected  All Categories
                    li  Books
                    li  Cloth
            input(type='text', placeholder='What do you need?')
            button(type='submit', value='Search' class='search-btn') Search
    div.medium-3.column.icon-list
        ul
            li
                .icon-wrapper
                    i.fa.fa-exchange
                    span.badge 0
            li
                .icon-wrapper
                    i.fa.fa-heart
                    span.badge 2
            li
                .icon-wrapper
                    i.fa.fa-shopping-cart
                    span.badge 2
            li
                span $229.00

