
.main-nav.row.collapse
    .medium-3.column
        .category-section
            .category-title
                i.fa.fa-bars
                | Shop By Category
            .category-body
                ul
                    li
                        a
                            span Car &amp; Accessories
                    li
                        a
                            span Smartphones &amp; Tablets
                    li
                        a
                            span Electronics
                    li
                        a
                            span Computers &amp; Laptops
                    li
                        a
                            span Lights &amp; Lighting
                    li
                        a
                            span Home &amp; Office
                    li
                        a
                            span Sports &amp; Outdoors
                    li
                        a
                            span Apparel &amp; Accessories
                    li
                        a
                            span Intimate &amp; Apparel
                    li
                        a
                            span Health &amp; Beauty
                    li
                        a
                            span Toys &amp; Hobbies
                    li
                        a
                            span Cameras &amp; Camcorders
                    li
                        a
                            span Jewelery &amp; Watches
                    li
                        a
                            span Other
    .medium-9.column
        .nav-section
            .nav-list
                ul
                    li
                        a Home
                    li
                        a Shop
                    li
                        a Promotion
                    li
                        a Blog
                    li
                        a Pages
                    li
                        a Contact Us
            .social-list
                ul
                    li
                        i.fa.fa-facebook
                    li
                        i.fa.fa-twitter
                    li
                        i.fa.fa-google-plus



