.slider-wrapper
    .slider
        ul.slider-body
            li#slider-1
                .slide-info
                    h3 HeadPhone Apple
                    p Shop headphones and speakers
                    p
                        strong $460.00
                        span $560.00
                    button Shop Now
            li#slider-2
                .slide-info
                    h3 Nintendo Swtich
                    p Shop headphones and speakers
                    p
                        strong $199.00
                        span $230.00
                    button Shop Now
            li#slider-3
                .slide-info
                    h3 X Box 4
                    p Shop headphones and speakers
                    p
                        strong $229.00
                        span $270.00
                    button Shop Now
        div.control.prev
            i.fa.fa-angle-left
        div.control.next
            i.fa.fa-angle-right
        div.pagination-wrap
            ul
